{% extends "base.html" %}

{% block main %}
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../static/assets/img/FlyBy_banner_size_smaller.jpg);">
				<div class="container">
					<h1>Browse Drone Service Providers</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- ========== Begin: Brows job ===============  -->
			<section>
				<div class="container">
					<!-- Company Searrch Filter Start -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form action="/browse_pilots" method="POST">
								<div class="col-md-4 col-sm-4">
									<input type="text" name="name" class="form-control" placeholder="Name: Firstname, Lastname">
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="text" name="location" class="form-control" placeholder="Location: City, Country">
								</div>
								<div class="col-md-3 col-sm-3">
									<select name="service" id="services-selector" class="form-control" id="j-category">
										<option>Choose drone services</option>
										<option value="Aerial Photography">Aerial Photography</option>
										<option value="Video Production">Marketing & Advertising Footage</option>
										<option value="Real Estate Videography">Real Estate Videography</option>
										<option value="Drone LiDAR imaging">Drone LiDAR imaging</option>
										<option value="Aerial Mapping">Aerial Mapping</option>
										<option value="Real Estate Videography">Real Estate Videography</option>
										<option value="Aerial Cinematography">Aerial Cinematography</option>
										<option value="Damage Assessment">Damage Assessment</option>
									</select>

								</div>
								<div class="col-md-2 col-sm-2">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Company Searrch Filter End -->
					
					<!--Browse Job In Grid-->
					<div class="row extra-mrg">
						{% for pilot in pilots %}
						<div class="col-md-4 col-sm-4">
							<div class="manage-cndt">
								<div class="cndt-status pending">{{pilot[5]}}</div>
								<div class="cndt-caption">
									<div class="cndt-pic">
										<img src="{{pilot[2]}}" class="img-responsive" alt="" />
									</div>
									<h4>{{pilot[1]}} {{pilot[4]}}</h4>
									<span>Drone pilot</span>
									<p>{{pilot[3]}} </p>
								</div>
								<a href="/pilots/{{pilot[0]}}" title="" class="cndt-profile-btn">View Profile</a>
							</div>
						</div>
						{% endfor %}
						
					</div>
					<!--/.Browse Job In Grid-->

					<div class="row">
						<ul class="pagination">
							<li><a href="#"><i class="ti-arrow-left"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li> 
							<li><a href="#">4</a></li> 
							<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li> 
							<li><a href="#"><i class="ti-arrow-right"></i></a></li> 
						</ul>
					</div>
					
				</div>
			</section>
			<!-- ========== Begin: Brows job Grid End ===============  -->
		

{% endblock %}

