{% extends "base.html" %}

{% block main %}	
			<!-- General Detail Start -->
			<section class="dashboard-wrap">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Sidebar Wrap -->
						<div class="col-lg-3 col-md-4">
							<div class="side-dashboard">
								
								<div class="dashboard-avatar">
								
									<div class="dashboard-avatar-thumb">
										<img src="assets/img/can-2.png" class="img-avater" alt="" />
									</div>
									
									<div class="dashboard-avatar-text">
										<h4>Shaurya Preet</h4>
										<span>Zivara Technoloty</span>
									</div>
									
								</div>
								
								<div class="dashboard-menu">
									<ul>
										<li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
										<li><a href="post-new-job.html"><i class="ti-ruler-pencil"></i>Post New Page</a></li>
										<li><a href="all-jobs.html"><i class="ti-briefcase"></i>All Jobs</a></li>
										<li><a href="applications.html"><i class="ti-user"></i>Applications</a></li>
										<li><a href="packages.html"><i class="ti-wallet"></i>Packages</a></li>
										<li><a href="choose-package.html"><i class="ti-cup"></i>Choose Packages</a></li>
										<li><a href="viewed-resume.html"><i class="ti-flag-alt-2"></i>Viewed Resume</a></li>
										<li class="active"><a href="myprofile.html"><i class="ti-id-badge"></i>Edit Profile</a></li>
										<li><a href="login.html"><i class="ti-power-off"></i>Logout</a></li>
									</ul>
									<h4>For Candidate</h4>
									<ul>
										<li><a href="candidate-dashboard.html"><i class="ti-dashboard"></i>Candidate Dashboard</a></li>
										<li><a href="candidate-resume.html"><i class="ti-wallet"></i>My Resume</a></li>
										<li><a href="applied-jobs.html"><i class="ti-hand-point-right"></i>Applied Jobs</a></li>
										<li><a href="saved-jobs.html"><i class="ti-heart"></i>Saved Jobs</a></li>
										<li><a href="alert-jobs.html"><i class="ti-bell"></i>Alert Jobs</a></li>
									</ul>
								</div>
							</div>
						</div>


												<!-- Content Wrap -->
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
								<div class="dashboard-caption">
									
									<div class="dashboard-caption-header">
										<h4><i class="ti-flag-alt-2"></i>Project applications</h4>
									</div>
									
								
									
									<div class="dashboard-caption-wrap">
									
										<!-- row -->
										<div class="row">
												
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search Project Name">
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search By keyword">
												</div>
											</div>
											
											<div class="col-md-2 col-sm-2">
												<button type="submit" class="btn btn-primary full-width">Filter</button>
											</div>
											
										</div>
										<ul class="list">
											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/can-3.png" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="#">Adam L. Mock</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>3 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Madrid, Spain</small>
											
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/can-3.png" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="#">Adam L. Mock</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>3 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Madrid, Spain</small>
											
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/can-3.png" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="#">Adam L. Mock</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>3 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Madrid, Spain</small>
											
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/can-3.png" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="#">Adam L. Mock</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>3 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Madrid, Spain</small>
											
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/can-3.png" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="#">Adam L. Mock</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>3 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Madrid, Spain</small>
											
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>
											
										
										</ul>
										
										
									</div>
									
								</div>
							</div>
					
						</div>
					</div>
	{% endblock %}