{% extends "base.html" %}

{% block main %}	
			<!-- General Detail Start -->
			<section class="dashboard-wrap">
				<div class="container-fluid">
					<div class="row">
					
						 
                    <!-- Sidebar Wrap -->
                    <div class="col-lg-3 col-md-4">
                        <div class="side-dashboard">
                            
                            <div class="dashboard-avatar">
                            
                                <div class="dashboard-avatar-thumb">
                                    <img src="assets/img/can-2.png" class="img-avater" alt="" />
                                </div>
                                
                                <div class="dashboard-avatar-text">
                                    <h4>Company name</h4>
                                    <span>Industry</span>
                                </div>
                                
                            </div>
                            
                            <div class="dashboard-menu">
                                <ul>
                                
                                    <li><a href="/posted_projects"><i class="ti-ruler-pencil"></i>My projects</a></li>
                                    <li ><a href="/createprojectpage"><i class="ti-id-badge"></i>Create new project</a></li>
                                    <li><a href="/running_projects"><i class="ti-briefcase"></i>My running projects</a></li>
                                    <li><a href="/pilot_application_list"><i class="ti-user"></i>Service providers applications</a></li>
                                    <li><a href="/pilot_request_list"><i class="ti-time"></i>Service providers requests to hire</a></li>
                            
                                    <li><a href="/companies/4"><i class="ti-home"></i>My company page</a></li>
                                    <li ><a href="/register_company/4"><i class="ti-pencil-alt"></i>Update company info</a></li>
                                
                                
                                </ul>
                            </div>
                        </div>
                    </div>

												<!-- Content Wrap -->
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
								<div class="dashboard-caption">
									
									<div class="dashboard-caption-header">
										<h4><i class="ti-flag-alt-2"></i>Service providers applications</h4>
									</div>
									
								
									
									<div class="dashboard-caption-wrap">
									
										<!-- row -->
										<div class="row">
												
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search Project Name">
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search By keyword">
												</div>
											</div>
											
											<div class="col-md-2 col-sm-2">
												<button type="submit" class="btn btn-primary full-width">Filter</button>
											</div>
											
										</div>
										<ul class="list">
											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="https://i.pinimg.com/originals/ae/ec/c2/aeecc22a67dac7987a80ac0724658493.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="/pilots/2">Dari Fergusson</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>13 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Palaiseau, France</small>
											
													</div>
													<div class="rateing">
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star"></i>
													</div>
												</div>
							
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="https://www.clinicacostacodina.com/wp-content/uploads/2019/03/xavier-costa-codina-odontologo.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="/pilots/6">Annette Delacourt</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Cinematography</small>
														<small class="job-sallery"><i class="ti-time"></i>6 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Calcada, Portugal</small>
											
													</div>
													<div class="rateing">
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="https://www.womenofinfluence.ca/wp-content/uploads/2018/06/didyck_1200x650-2.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="/pilots/25">Lilith Gregoretti</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial Mapping</small>
														<small class="job-sallery"><i class="ti-time"></i>10 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Vincennes, France</small>
											
													</div>
													<div class="rateing">
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star"></i>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="https://archives.rgnn.org/wp-content/uploads/2016/05/jonny_depp_front_60ma7X5RYR-largeThumb_d6f636ae-500x500.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="/pilots/20">Seward Fromont</a></h3>
														<small class="job-company"><i class="ti-home"></i>Real Estate Videography</small>
														<small class="job-sallery"><i class="ti-time"></i>15 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Nantes, France</small>
											
													</div>
													<div class="rateing">
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="https://resolutionproject.org/wp-content/uploads/elementor/thumbs/Paul-Headshot-copy_0_0-plzne8x0k4uzaluoesro2326qps12k9vjbthvpkh3c.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name"><a class="job_name_tag" href="/pilots/34">Vevay Mahoney</a></h3>
														<small class="job-company"><i class="ti-home"></i>Aerial inspections & measurements</small>
														<small class="job-sallery"><i class="ti-time"></i>13 Year Ex.</small>
														<small class="job-sallery"><i class="ti-location-pin"></i>Pigeiros, Portugal</small>
											
													</div>
													<div class="rateing">
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star filled"></i>
														<i class="fa fa-star"></i>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#SendMessage" data-toggle="modal" class="btn btn-blue manage-btn" data-placement="top" title="Message"><p>Request to Hire</p></a>												
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><p>Reject</p></a>
												</div>
											</li>
											
										
										</ul>
										
										
									</div>
									
								</div>
							</div>
					
						</div>
					</div>
	{% endblock %}