{% extends "base.html" %}

{% block main %}	
			<!-- General Detail Start -->
			<section class="dashboard-wrap">
				<div class="container-fluid">
					<div class="row">
					
						                   <!-- Sidebar Wrap -->
										   <div class="col-lg-3 col-md-4">
											<div class="side-dashboard">
												
												<div class="dashboard-avatar">
												
													<div class="dashboard-avatar-thumb">
														<img src="assets/img/can-2.png" class="img-avater" alt="" />
													</div>
													
													<div class="dashboard-avatar-text">
														<h4>Company name</h4>
														<span>Industry</span>
													</div>
													
												</div>
												
												<div class="dashboard-menu">
													<ul>
													
														<li><a href="/posted_projects"><i class="ti-ruler-pencil"></i>My projects</a></li>
														<li ><a href="/createprojectpage"><i class="ti-id-badge"></i>Create new project</a></li>
														<li><a href="/running_projects"><i class="ti-briefcase"></i>My running projects</a></li>
														<li><a href="/pilot_application_list"><i class="ti-user"></i>Pilot applications</a></li>
														<li><a href="/pilot_request_list"><i class="ti-time"></i>Pilot requests to hire</a></li>
												
														<li><a href="/companies/4"><i class="ti-home"></i>My company page</a></li>
														<li ><a href="/register_company/4"><i class="ti-pencil-alt"></i>Update company info</a></li>
													
													
													</ul>
												</div>
											</div>
										</div>

						<!-- Content Wrap -->
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
								<div class="dashboard-caption">
									
									<div class="dashboard-caption-header">
										<h4><i class="ti-briefcase"></i>Running projects</h4>
									</div>
									
									<div class="dashboard-caption-wrap">
										
										<!-- row -->
								
										<div class="table-responsive">
											<table class="table">
												<thead>
												<tr>
													<th scope="col">Project name</th>
													<th scope="col">Starting date</th>
													<th scope="col">Manage</th>
													<th scope="col">Pay</th>
												</tr>
												</thead>
												<tbody>
												<tr>
													<th scope="row"><a href="job-detail-3.html">Identifying Drone Pilots to inspect elevated water tanks in Europe</a></th>
													<td>10 jan 2020</td>
													<td>
													<div class="job-buttons">
														<a  data-toggle="modal" data-target="#admin_tool" href="#" class="btn btn-warning manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume"><i class="ti-ruler-pencil"></i></a>
													</div>
													</td>
													<td>
													<div class="job-buttons">
														<a data-toggle="modal" data-target="#payment_info" href="#"  class="btn btn-primary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-credit-card"></i></a>
													</div>
												</td>
												</tr>
												<tr>
													<th scope="row"><a href="job-detail-3.html">Videographer for Real Estate Project</a></th>
												
													<td>9 jan 2020</td>
													<td>
														<div class="job-buttons">
															<a  data-toggle="modal" data-target="#admin_tool" href="" class="btn btn-warning manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume"><i class="ti-ruler-pencil"></i></a>
														</div>
													</td>
													<td>
														<div class="job-buttons">
															<a  data-toggle="modal" data-target="#payment_info" href="#" class="btn btn-primary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-credit-card"></i></a>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row"><a href="job-detail-3.html">Drone pilot required for Solar Panel Inspections and Commercial and Industrial</a></th>
												
													<td>04 jan 2020</td>
													<td>
													<div class="job-buttons">
														<a  data-toggle="modal" data-target="#admin_tool" href="#" class="btn btn-warning manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume"><i class="ti-ruler-pencil"></i></a>
													</div>
													</td>
													<td>
													<div class="job-buttons">
														<a  data-toggle="modal" data-target="#payment_info" href="#" class="btn btn-primary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-credit-card"></i></a>
													</div>
													</td>
												</tr>
												<tr>
													<th scope="row"><a href="job-detail-3.html">Weather sensor implementation on a drone</a></th>
												
													<td>02 jan 2020</td>
													<td>
													<div class="job-buttons">
														<a  data-toggle="modal" data-target="#admin_tool" href="#" class="btn btn-warning manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Download Resume"><i class="ti-ruler-pencil"></i></a>
													</div>
													</td>
													<td>
													<div class="job-buttons">
														<a  data-toggle="modal" data-target="#payment_info" href="#" class="btn btn-primary manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-credit-card"></i></a>
													</div>
													</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
	{% endblock %}