{% extends "base.html" %}

{% block main %}
			
			<!-- General Detail Start -->
			<section class="dashboard-wrap">
				<div class="container-fluid">
					<div class="row">
					
						<!-- Sidebar Wrap -->
						<div class="col-lg-3 col-md-4">
							<div class="side-dashboard">
								
								<div class="dashboard-avatar">
								
									<div class="dashboard-avatar-thumb">
										<img src="{{session['profilepicture_url']}}" class="img-avater" alt="" />
									</div>
									
									<div class="dashboard-avatar-text">
										<h4>{{session['first_name']}} {{session['last_name']}}</h4>
									</div>
									
								</div>
								
								<div class="dashboard-menu">
									<ul>
									
										<li><a href="/applied_projects"><i class="ti-briefcase"></i>Applied projects</a></li>
										<li><a href="/request_to_hire"><i class="ti-wallet"></i>Requests to hire</a></li>
										<li><a href="/p_running_projects"><i class="ti-ruler-pencil"></i>Running projects</a></li>
										<li><a href="/pilots/{{session['user_id']}}"><i class="ti-id-badge"></i>My profile</a></li>
										<li><a href="/pilotregister/{{session['user_id']}}"><i class="ti-pencil-alt"></i>Edit profile</a></li>
									
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Content Wrap -->
						<div class="col-lg-9 col-md-8">
							<div class="dashboard-body">
								<div class="dashboard-caption">
									
									<div class="dashboard-caption-header">
										<h4><i class="ti-briefcase"></i>Applied projects</h4>
									</div>
									
									<div class="dashboard-caption-wrap">
										
										<!-- row -->
										<div class="row">
												
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search by Project Name">
												</div>
											</div>
											
											<div class="col-lg-4 col-md-6 col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Search by Company">
												</div>
											</div>
											
											<div class="col-md-2 col-sm-2">
												<button type="submit" class="btn btn-primary full-width">Filter</button>
											</div>
											
										</div>
										<!-- row -->
										
										<ul class="list">
											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/com-1.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name">Project name</h3>
														<small class="job-company"><i class="ti-home"></i><a href="#">Company</a></small>
														<small class="job-sallery"><i class="ti-credit-card"></i>€ 50 /h</small>
														<small class="job-update"><i class="ti-time"></i>Start date: 6/14/19</small>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/com-1.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name">Project name</h3>
														<small class="job-company"><i class="ti-home"></i><a href="#">Company</a></small>
														<small class="job-sallery"><i class="ti-credit-card"></i>€ 50 /h</small>
														<small class="job-update"><i class="ti-time"></i>Start date: 6/14/19</small>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
												</div>
											</li>
											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/com-1.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name">Project name</h3>
														<small class="job-company"><i class="ti-home"></i><a href="#">Company</a></small>
														<small class="job-sallery"><i class="ti-credit-card"></i>€ 50 /h</small>
														<small class="job-update"><i class="ti-time"></i>Start date: 6/14/19</small>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
												</div>
											</li>

											<li class="manage-list-row clearfix">
												<div class="job-info">
													<div class="job-img">
														<img src="assets/img/com-1.jpg" class="attachment-thumbnail" alt="Academy Pro Theme">
													</div>
													<div class="job-details">
														<h3 class="job-name">Project name</h3>
														<small class="job-company"><i class="ti-home"></i><a href="#">Company</a></small>
														<small class="job-sallery"><i class="ti-credit-card"></i>€ 50 /h</small>
														<small class="job-update"><i class="ti-time"></i>Start date: 6/14/19</small>
													</div>
												</div>
												<div class="job-buttons">
													<a href="#" class="btn btn-cancel manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove"><i class="ti-close"></i></a>
												</div>
											</li>
											
											
										
										</ul>
								
										
									</div>
									
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</section>
			<!-- General Detail End -->
{% endblock %}