{% extends "base.html" %}

{% block main %}
			<!-- Title Header Start -->
			<section class="inner-header-title"  style="background-image:url(../static/assets/img/FlyBy_banner_size_smaller.jpg);">
				<div class="container">
					<h2 class="header-text-payment">Payment</h2>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Accordion Design Start -->
			<section class="accordion">
				<div class="container">
					<div class="row">
						
						<!-- Billing Address -->
						<div class="col-md-6 col-sm-6">
							<div class="sidebar-wrapper">
							
							<div class="sidebar-box-header bb-1">
								<h4>Billing Information</h4>
							</div>
							
							<form class="billing-form">
								<div class="row">
									<div class="col-xs-12">
										<label>Full Name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<label>Address</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<label>City</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6">
										<label>State</label>
										<select class="form-control input-lg">
											<option>State</option>
											<option>Punjab</option>
											<option>Haryana</option>
											<option>Madhya Pradesh</option>
										</select>
									</div>
									<div class="col-xs-6">
										<label>Zip Code</label>
										<input type="text" class="form-control" required/>
									</div>
								</div>
							</form>
							
							</div>
						</div>
						
						<!-- Payment Detail -->
						<div class="col-md-6 col-sm-6">
							<div class="sidebar-wrapper">
							
							<div class="sidebar-box-header bb-1">
								<h4>Credit Card Information</h4>
							</div>
							
							<form class="billing-form">
								<div class="row">
									<div class="col-xs-12">
										<label>Cardholder Name</label>
										<input type="text" class="form-control" required/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-8">
										<label>Card Number</label>
										<input type="text" class="form-control" required />
									</div>
									<div class="col-xs-4">
										<img src="assets/img/debit.png" class="img-responsive payment-img" alt="">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8">
										<label>Expiration Date</label>
										<div class="row">
											<div class="col-xs-6">
												<select required class="form-control input-lg">
													<option>January</option>
													<option>February</option>
													<option>March</option>
													<option>April</option>
												</select>
											</div>
											<div class="col-xs-6">
												<select required class="form-control input-lg">
													<option>2020</option>
													<option>2021</option>
													<option>2022</option>
													<option>2023</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<label>CVC/CVV</label>
										<input type="text" class="form-control" required/>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<label>Coupon Code(If Available)</label>
										<input type="text" class="form-control" required/>
									</div>	
								</div>
							</form>
							
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-md-12 text-center">
							<a  data-toggle="modal" data-target="#payment" href="#" class="btn btn-success manage-btn">Pay</a>
							<a href="/" class="btn btn-cancel manage-btn">Cancel</a>
						</div>
					</div>
				</div>
			</section>
			<!-- Accordion Design End -->
{% endblock %}