{% extends "base.html" %}

{% block main %}
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(../static/assets/img/FlyBy_banner_size_smaller.jpg);">
				<div class="container">
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- Candidate Detail Start -->
			<section class="detail-desc">
				<div class="container">
				
					<div class="ur-detail-wrap top-lay">
						
						<div class="ur-detail-box">
							
							<div class="ur-thumb">
								<img src="assets/img/com-2.jpg" class="img-responsive" alt="" />
							</div>
							<div class="ur-caption">
								<h4 class="ur-title">{{project[1]}}</h4><span> </br/><i class="ti-briefcase"></i> {{project[6]}}</span></h4>
								<p class="ur-location"><i class="ti-location-pin mrg-r-5"></i>{{project[4]}}, {{project[3]}}</p>
								<p class="ur-location"><i class="ti-home mrg-r-5"></i>Company name</p>
								<!-- <span class="ur-designation">Google Inc</span> -->

							</div>
							
						</div>
						
						<div class="ur-detail-btn">
							<a href="#" class="btn btn-primary mrg-bot-10 full-width"><i class="ti-email mrg-r-5"></i>Apply now!</a><br>
							<a href="#" class="btn btn-warning full-width"><i class="ti-heart mrg-r-5"></i>Save to list</a>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- Candidate Detail End -->
			
			<!-- Candidate full detail Start -->
			<section class="full-detail-description full-detail">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-8 col-md-8">
							
							<div class="row-bottom">
								<h2 class="detail-title">Project Description</h2>
								<p>{{project[5]}}</p>
							</div>
							
							<div class="row-bottom">
								<h2 class="detail-title">Requirments</h2>
								<p>{{project[11]}}</p>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul class="detail-list">
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
									<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
								</ul> -->
							</div>
							
							
						</div>
						
						<div class="col-lg-4 col-md-4">
							<div class="full-sidebar-wrap">
								
								<a href="javascript:void(0)" data-toggle="modal" data-target="#apply-job" class="btn btn-info mrg-bot-15 full-width"><i class="ti-star mrg-r-5"></i>Apply</a>
								
								<!-- Candidate overview -->
								<div class="sidebar-widgets">
								
									<div class="ur-detail-wrap">
										<div class="ur-detail-wrap-header">
											<h4>Project Overview</h4>
										</div>
										<div class="ur-detail-wrap-body">
											<ul class="ove-detail-list">
											
												<li>
													<i class="ti-ruler-pencil"></i>
													<h5>Industry</h5>
													<span>Add later</span>
												</li>
												
												<li>
													<i class="ti-briefcase"></i>
													<h5>Service</h5>
													<span>{{project[6]}}</span>
												</li>
												
												<li>
													<i class="ti-location-pin"></i>
													<h5>Location</h5>
													<span>{{project[4]}}, {{project[3]}}</span>
												</li>
												
												<li>
													<i class="ti-home"></i>
													<h5>Certification</h5>
													<span>{{project[7]}}</span>
												</li>
												
												<li>
													<i class="ti-arrow-right"></i>
													<h5>Start date</h5>
													<span>{{project[9]}}</span>
												</li>
												
												<li>
													<i class="ti-star"></i>
													<h5>Project duration</h5>
													<span>{{project[8]}} days</span>
												</li>

												<li>
													<i class="ti-home"></i>
													<h5>Company website</h5>
													<span>Click here</span>
												</li>
												
												<li>
													<i class="ti-shield"></i>
													<h5>Date posted</h5>
													<span>Add later</span>
												</li>

											</ul>
										</div>
									</div>
									
								</div>
								<!-- /Candidate overview -->
								
							
							</div>
						</div>
					
					</div>
				</div>
			</section>
			<!-- company full detail End -->
			
			<!-- More Jobs -->
			<section class="padd-top-20">
				<div class="container">
				
					<div class="row mrg-0">
						<div class="col-md-12 col-sm-12">
							<h3>Related Projects</h3>
						</div>
					</div>
					<!--Browse Job In Grid-->
					<div class="row mrg-0">
					
						<div class="col-md-6 col-sm-6">
							<div class="grid-view brows-job-list">
								<div class="brows-job-company-img">
									<img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />
								</div>
								<div class="brows-job-position">
									<h3><a href="job-detail-2.html">Drone Pilot - Aerial videography</a></h3>
									<p><span>{{project[1]}}</span></p>
								</div>
								<!-- <div class="job-position">
									<span class="job-num">5 Position</span>
								</div> -->
								<div class="brows-job-type">
									<span class="full-time">Full Time</span>
								</div>
								<ul class="grid-view-caption">
									<li>
										<div class="brows-job-location">
											<p><i class="fa fa-map-marker"></i>{{project[4]}}, {{project[3]}}</p>
										</div>
									</li>
									<li>
										<p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
									</li>
								</ul>
								<!-- <span class="tg-themetag tg-featuretag">Premium</span> -->
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6">
							<div class="grid-view brows-job-list">
								<div class="brows-job-company-img">
									<img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />
								</div>
								<div class="brows-job-position">
									<h3><a href="job-detail-2.html">Areal photograpy</a></h3>
									<p><span>Google</span></p>
								</div>
								<!-- <div class="job-position">
									<span class="job-num">5 Position</span>
								</div> -->
								<div class="brows-job-type">
									<span class="part-time">Part Time</span>
								</div>
								<ul class="grid-view-caption">
									<li>
										<div class="brows-job-location">
											<p><i class="fa fa-map-marker"></i>{{project[4]}}, {{project[3]}}</p>
										</div>
									</li>
									<li>
										<p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
					<!--/.Browse Job In Grid-->
					
				</div>
			</section>
			<!-- More Jobs End -->

			
			<!-- Apply Form Code -->
			<div class="modal fade" id="apply-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="apply-job-box">
								<img src="img/com-1.jpg" class="img-responsive" alt="">
								<h4>Product Designer</h4>
								<p>Google Pvt.</p>
							</div>
							<div class="apply-job-form">
								<form class="form-inline" method="post">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text"  name="name" class="form-control" placeholder="Your Name" required="">
											<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
											<textarea class="form-control" placeholder="About You / Paste your CV"></textarea>
											<div class="fileUpload">
												<span>Upload CV</span>
												<input type="file" class="upload" />
											</div>
											<div class="center">
											<button type="submit" id="subscribe" class="submit-btn"> Apply Now </button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>   
			<!-- End Apply Form -->
			
	{% endblock %}