{% extends "base.html" %}

{% block main %}
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(http://via.placeholder.com/1920x850);">
				<div class="container">
					<h1>Browse Drone Pilots</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- ========== Begin: Brows job ===============  -->
			<section>
				<div class="container">
					<!-- Company Searrch Filter Start -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form>
								<div class="col-md-4 col-sm-4">
									<input type="text" class="form-control" placeholder="Keyword: Name, Tag">
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="text" class="form-control" placeholder="Location: City, State, Zip">
								</div>
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category">
										<option value="">&nbsp;</option>
										<option value="1">Information Technology</option>
										<option value="2">Mechanical</option>
										<option value="3">Hardware</option>
										<option value="4">Hospitality & Tourism</option>
										<option value="5">Education & Training</option>
										<option value="6">Government & Public</option>
										<option value="7">Architecture</option>
									</select>

								</div>
								<div class="col-md-2 col-sm-2">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Company Searrch Filter End -->
					
					<!--Browse Job In Grid-->
					<div class="row extra-mrg">
						{% for user in users %}
						<div class="col-md-4 col-sm-4">
							<div class="manage-cndt">
								<div class="cndt-status pending">Pending</div>
								<div class="cndt-caption">
									<div class="cndt-pic">
										<img src="{{user[2]}}" class="img-responsive" alt="" />
									</div>
									<h4>{{user[1]}}</h4>
									<span>Drone pilot</span>
									<p>Areal videograpy, Editing, Mapping services </p>
								</div>
								<a href="#" title="" class="cndt-profile-btn">View Profile</a>
							</div>
						</div>
						{% endfor %}
						
					</div>
					<!--/.Browse Job In Grid-->

					<div class="row">
						<ul class="pagination">
							<li><a href="#"><i class="ti-arrow-left"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li> 
							<li><a href="#">4</a></li> 
							<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li> 
							<li><a href="#"><i class="ti-arrow-right"></i></a></li> 
						</ul>
					</div>
					
				</div>
			</section>
			<!-- ========== Begin: Brows job Grid End ===============  -->
		

{% endblock %}

