{% extends "base.html" %}

{% block main %}
<h1>Messages page</h1>
<div class="messagepage-containers">

    <div class="users-container">
        {% for messenger in messengers %}
        <div class="user list">
            <span>
              <img src="{{messenger[2]}}" alt="image for {{messenger[1]}}" class="profile">
              <a href="{{url_for('direct_messages', user_id=messenger[0])}}">{{messenger[1]}}</a>
            </span>
          </div>
        {% endfor %}
    </div>

    <div class="new-chat-box">
        <h3>Start a new chat</h3>
        <form id="message_form" class="form-inline" action="/sent_message" method="POST">
            <select id="to_id" name="to_id">
                <option value="" disabled selected>Select user</option>
                {% for user in users %}
                <option value="{{user[0]}}">{{user[1]}}</option>
                {% endfor %}
            </select>
            <textarea name="message" class="form-control textbox" id="message" placeholder="Sent new message"></textarea>
            <div class="start-chat-button">
                <button class="w-20 btn btn-lg btn-primary" type="submit">Send!</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}